 
h1,h2,h3,h4,h5,h6,div,p,a {
    text-align: center;
}
ul {
list-style-type: none;
}


/* styles.css */
.recipe_container .a {
    font: weight 10px;
    font-style: none;
    font-family: "Times New Roman", sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }